table.sortable th:not(.sorttable_sorted):not(.sorttable_sorted_reverse):not(.sorttable_nosort):after {
  content: "\25B4\25BE";
}

button {
  border: 4px !important;
  margin: 0 !important;
  padding: 8px !important;
}

form {
  border: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
}

input {
  border: 4px !important;
  margin: 0 !important;
  padding: 8px !important;
  width: auto !important;
}

th, td {
  border-bottom: 1px solid black !important;
}